body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.jumbotron {
    background:
        linear-gradient( 
            rgba(0, 0, 0, 0.3), 
            rgba(0, 0, 0, 0.3) 
        ),
        url("https://videos.zillowstatic.com/homepage/video_buy_20161121_1800_q.jpg");
    text-align: center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
}

    .jumbotron h1 {
        color: #fff;
        bottom: 20px;
    }

    .jumbotron p {
        color: #fff;
    }

    .jumbotron span {
        align-content:center;
    }

.horizontal-center {
    min-width: 100%;
    min-width: 100vh;
    display: flex;
    align-items: center;
}


.col-center{
    text-align: center; 
}